insmod part_gpt
insmod part_msdos
insmod iso9660

insmod btrfs
insmod ext2
insmod exfat
insmod fat

insmod all_video

set timeout=3

menuentry 'Arch Linux' {
    search --no-floppy --label --set=root rootdisk
    echo    'Loading Linux linux-lts ...'
    linux   /volumes/root/boot/vmlinuz-linux-lts root=LABEL=rootdisk rootflags=subvol=volumes/root rw loglevel=3 quiet
    echo    'Loading initial ramdisk ...'
    initrd  /volumes/root/boot/initramfs-linux-lts.img
}

menuentry "System shutdown" --class shutdown --class poweroff {
    echo "System shutting down..."
    halt
}

menuentry "System restart" --class reboot --class restart {
    echo "System rebooting..."
    reboot
}


